<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no" />
    <title>用户注册-有度即时通</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/login.css">
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <style>
        .input-label{
            position: absolute;
            width: 100px;
            left: -115px;
            top: 15px;
            text-align: right;
        }
        @media only screen and (max-width: 768px) {
            .input-label{
                display: none;
            }
        }
    </style>
</head>

<body>
    <div class="guide-page">
        <!-- <div class="nav-step pc-hide">
            <a href="javascript:;" class="nav-step-back" style="display:none" ></a>
            <h4 class="nav-step-title" id="nav-step-title">用户注册</h4>
        </div> -->
        <div class="guide-logo">
            <a href="./">
                <img src="./img/logo2.png" alt="">
                <span>用户注册</span>
            </a>
        </div>
        <div class="guide-box">
            <form class="sform" id="apply-user"  autocomplete="off">
                <div id="step1" >
                    <div class="input-group" data-check="need" data-err="用户账号不能为空">
                        <label class="input-label">用户账号</label>
                        <input type="text" class="input-item" name="account" placeholder="用户账号" id="f-account" autofocus maxlength="128">
                        <div class="input-err"></div>
                    </div>
                    <div class="input-group" data-check="need" data-err="用户名称不能为空">
                        <label class="input-label">用户名称</label>
                        <input type="text" class="input-item" name="chsName" placeholder="用户名称" id="f-chsName" autofocus maxlength="128">
                        <div class="input-err"></div>
                    </div>
                    <div class="input-group" data-check="need" data-err="请选择性别">
                        <label class="input-label">性别</label>
                        <select class="input-item" id="f-gender" name="gender">
                            <option value="">请选择性别</option>
                            <option value="0">男</option>
                            <option value="1">女</option>
                        </select>
                        <div class="input-err"></div>
                    </div>
                    <div class="input-group" data-check="mobile">
                        <label class="input-label">手机号码</label>
                        <input type="text" class="input-item" placeholder="手机号码" maxlength="11" name="mobile" id="f-mobile" >
                        <div class="input-err oneline">
                            请填写正确的手机号码
                        </div>
                    </div>
                    <div class="input-group" data-check="email">
                        <label class="input-label">邮箱</label>
                        <input type="email" class="input-item" name="email" maxlength="128" placeholder="邮箱" id="f-email">
                        <div class="input-err"></div>
                        <p class="note2 mt-10">用以接收后台生成的密码</p>
                    </div>
                    <!-- <div class="input-group" data-check="normalString">
                        <input type="hidden" name="password" id="f-password-act">
                        <input type="password" class="input-item" placeholder="设置密码" maxlength="16" name="password" id="f-password" onKeypress="javascript:if(event.keyCode == 32)event.returnValue = false;" autocomplete="off">
                        <p class="note2 mt-10">该密码用以登录管理后台</p>
                    </div> -->
                    <div class="action-group">
                        <button type="submit" class="ydbtn ydbtn-primary next" id="next" disabled>下一步</button>
                    </div>
                </div>   
                <div class="install-complete hide" id="step2">
                    <h3 class="install-complete-hd">申请注册成功！</h3>
                    <p class="install-complete-desc">待管理员确认后，将会把结果通知至以下邮箱：<br><strong id="txt-email"></strong></p>
                </div> 
            </form>  
        </div>
        <div class="copyright guide-copyright">
            <span>客服热线：400-097-0006</span><span>© 2018 xinda.im All Rights Reserved</span>
        </div>
    </div>
    <!-- <div style="display: none !important;">
        <script src="https://s4.cnzz.com/z_stat.php?id=1259664589&web_id=1259664589" language="JavaScript"></script>
    </div> -->
	<script src="js/jquery.min.js"></script>
    <script src="js/md5.js"></script>
    <script src="js/sha256.js"></script>
    <script src="js/login.js"></script>
    <script>
        jQuery(document).ready(function($) {
            let form = $("#apply-user")
            form.submit(function(){
                if (!FormReg($(this))) {
                    return false
                }
                var that = $(this)
                let p = {
                    account: $.trim(that.find("#f-account").val()),
                    chsName: $.trim(that.find("#f-chsName").val()),
                    gender: $.trim(that.find("#f-gender").val()),
                    mobile: $.trim(that.find("#f-mobile").val()),
                    email: $.trim(that.find("#f-email").val())
                }
                $.post('/userportal/user-register', p, function(m){
                    if (m.code === 0) {
                        $("#step2").find('#txt-email').text(p.email)
                        $("#step2").removeClass('hide')
                        $("#step1").hide()
                    } else {
                        console.error(m.msg)
                    }
                })
                return false;
            })

            function CheckFromState(f){
                var ins = f.find(".input-group:not('.hide')");
                var err = 0;
                $.each(ins, function(){
                    var t = $(this);
                    var m = t.data('check');
                    if(m && !(t.hasClass('success') || CheckReg[m](t.find('.input-item').val(), t.find('.input-item')))){
                        err++;
                    }
                });
                return !err;
            }

            form.find('.input-item').on('input', function(){
                var t = $(this).parent();
                var val = $(this).val()
                var m = t.data('check');
                if(m && !CheckReg[m](val)){
                    var errmsg = CheckReg.errmsg[m];
                    if (t.data('err')) {
                        errmsg = t.data('err')
                    }
                    t.removeClass('success').addClass('err').find('.input-item').focus().end().find('.input-err').text(errmsg);
                } else {
                    t.removeClass('err').addClass('success')
                }
                if (CheckFromState(form)) {
                    form.find('.next').removeAttr('disabled')
                } else {
                    form.find('.next').attr('disabled', true)
                }
            })
            setTimeout(function(){
                if (CheckFromState(form)) {
                    form.find('.next').removeAttr('disabled')
                } else {
                    form.find('.next').attr('disabled', true)
                }
            }, 100)
        })
    </script>
</body>
</html>