/* 
    youdu component list class name

    ydbtn
    list-btn
    table
    panel-tab
    panel-form
    modal
    alertBox
    alert
    alertAuto
    font-state
    remarkup
    breakcrump
    check-group
    form
    search-group
    icon-search
    check_tog
    upload_area
    form-timerange
    pagenation
    youdu-toggle
    multi-view
    tooltip
    widget
    yd-radio
    aside-list
    yd-select
    label-color
    datepicker
*/


.note{color: #5f5f5f; font-size: 12px;}
.note2{color: #A0A0A0; font-size: 12px;}
.assist{margin-top: 8px;line-height: 20px;font-size: 12px;}
.center{ text-align: center; }
.hide{display: none !important;}
.nopadding{padding: 0 !important;}
.nomargin{margin: 0 !important;}
a{ color: #007fff }
a:hover{ text-decoration: underline}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #f5f8fd inset;
}

.cell {
    position: relative;
    display: table-cell; width: 9999px;
    *display: inline-block; *width: auto;
}

dot {
    display: inline-block; 
    height: 1em; line-height: 1;
    text-align: left;
    vertical-align: -.25em;
    overflow: hidden;
}
dot::before {
    display: block;
    content: '...\A..\A.';
    white-space: pre-wrap;   /* 也可以是white-space: pre */
    animation: dot 3s infinite step-start both;
}
@keyframes dot {
    33% { transform: translateY(-2em); }
    66% { transform: translateY(-1em); }
}

.line{
    display: block;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    height: 0;
    overflow: hidden;
}
.dashed-line{
    border-top: 1px dashed #dbe9f7;
    height: 0;
}
.block-line{
    margin-top: 25px;
    margin-bottom: 25px;
}

.p-5{padding: 5px}
.pt-5{padding-top: 5px}
.pl-5{padding-left: 5px}
.pb-5{padding-bottom: 5px}
.pr-5{padding-right: 5px}
.p-10{padding: 10px}
.pt-10{padding-top: 10px}
.pl-10{padding-left: 10px}
.pb-10{padding-bottom: 10px}
.pr-10{padding-right: 10px}
.p-15{padding: 15px}
.pt-15{padding-top: 15px}
.pl-15{padding-left: 15px}
.pb-15{padding-bottom: 15px}
.pr-15{padding-right: 15px}
.p-20{padding: 20px}
.pt-20{padding-top: 20px}
.pl-20{padding-left: 20px}
.pb-20{padding-bottom: 20px}
.pr-20{padding-right: 20px}
.pt-30{padding-top: 30px}
.pl-30{padding-left: 30px}
.pb-30{padding-bottom: 30px}
.pr-30{padding-right: 30px}

.m-5{margin: 5px}
.mt-5{margin-top: 5px}
.ml-5{margin-left: 5px}
.mb-5{margin-bottom: 5px}
.mr-5{margin-right: 5px}
.m-10{margin: 10px}
.mt-10{margin-top: 10px}
.ml-10{margin-left: 10px}
.mb-10{margin-bottom: 10px}
.mr-10{margin-right: 10px}
.m-15{margin: 15px}
.mt-15{margin-top: 15px}
.ml-15{margin-left: 15px}
.mb-15{margin-bottom: 15px}
.mr-15{margin-right: 15px}
.m-20{margin: 20px}
.mt-20{margin-top: 20px}
.ml-20{margin-left: 20px}
.mb-20{margin-bottom: 20px}
.mr-20{margin-right: 20px}
.m-25{margin: 25px}
.mt-25{margin-top: 25px}
.ml-25{margin-left: 25px}
.mb-25{margin-bottom: 25px}
.mr-25{margin-right: 25px}
.m-30{margin: 30px}
.mt-30{margin-top: 30px}
.ml-30{margin-left: 30px}
.mb-30{margin-bottom: 30px}
.mr-30{margin-right: 30px}


.copyright{
	font-size: 12px;
    color: #999;
    text-align: center;
}

.left{
    float: left;
}
.right{
    float: right;
}
.overflow-fix{
    overflow: hidden;
}

.account-label{
    display: inline-block;
    background: #e8e8e8;
    border: 1px solid #c3c3c3;
    padding: 5px 10px;
    border-radius: 2px;
    margin-bottom: 4px;
    color: #000;
}
.account-label+.account-label{
    margin: 0 5px 5px 0;
}
.account-label .close{
    display: inline-block;
    width: 14px;
    height: 14px;
    background: transparent url(../img/icon_delete_normal.png) 0 0 no-repeat;
    vertical-align: -2px;
    margin-left: 6px;
    cursor: pointer;
}
.account-label .close:hover{
    background-image: url(../img/icon_delete_hover.png);
}

/*
* new button 
*/
a.ydbtn{
    display: inline-block;
    padding: 0 15px;
    zoom: 1;
}
.ydbtn{
    font-size: 14px;
    padding: 0 15px;
    height: 30px;
    line-height: 28px;
    border-radius: 2px;
    border: 0 none;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
}
.ydbtn.sm{
    font-size: 12px;
    padding: 0 12px;
    height: 26px;
    line-height: 25px;
}
a.ydbtn.sm{
    padding: 0 12px;
    line-height: 26px;
}
.ydbtn.xl{
    font-size: 16px;
    padding: 0 24px;
    height: 36px;
    line-height: 36px;
}
a.ydbtn.xl{
    padding: 0 24px;
}
.ydbtn {
    background-color: #fff;
    border: 1px solid #bfcde2;
    color: #1e83e9;
}

.ydbtn:focus,
.ydbtn:hover{
    background-color: #cbf0ff;
    border-color: #00b4ff;
    text-decoration: none;
}
.ydbtn:active{
    background-color: #baddeb;
    border-color: #00b4ff;
}
.ydbtn[disabled]{
    background-color: #e8e8e8;
    border-color: #bfcde2;
    color: #999;
}
.ydbtn-primary {
    background-color: #1e83e9;
    border: 1px solid #1e83e9;
    color: #fff;
}
.ydbtn-primary:hover,
.ydbtn-primary:focus{
    background-color: #3497fb;
    border-color: #3497fb;
    color: #FFF;
}
.ydbtn-primary:active{
    background-color: #005dbb;
    border-color: #005dbb;
}
.ydbtn-primary[disabled],
.ydbtn-primary[disabled]:hover,
.ydbtn-primary[disabled]:active{
    color: #fff;
    background-color: #b3d9ff;
    border-color: #7aaada;
}
.ydbtn-success{
    background-color: #44b549;
    border: 1px solid #3aa33f;
    color: #fff;
}
.ydbtn-success:hover{
    background-color: #4ccb52;
    border-color: #3aa33f;
}
.ydbtn-success:active,
.ydbtn-success:focus{
    background-color: #30a035;
    border-color: #3aa33f;
}
.ydbtn-success[disabled],.ydbtn-success.disabled{
    background-color: #96df99;
    border-color: #37c13e;
}
.ydbtn-info{
    background-color: #FFF;
    border: 1px solid #bfcde2;
    color: #000;
}
.ydbtn-info:hover{
    background-color: #f5f9fd;
}
.ydbtn-info:active{
    background-color: #d4e0ec;
}
.ydbtn-info[disabled],.ydbtn-info.disabled{
    background-color: #e8e8e8;
}
.ydbtn+.ydbtn{
    margin-left: 10px;
}
/**
.list-btn
**/
.list-btn {
    position: relative;
    z-index: 1000;
    width: 140px;
    height: 28px;
    line-height: 28px;
}
.list-btn .pbtn{
    display: block;
    padding-right: 22px;
    height: 100%;
    border-radius: 2px;
    border: 1px solid #bfcde2;
    background-color: #fff;
    text-indent: 8px;
    text-align: center;
    /*position: relative;*/
    /*z-index: 2*/
}
.list-btn .tog{
    display: block;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 9px;
    height: 8px;
    background: url(../img/icon_unfold_black.png) no-repeat center center ;
}
.list-btn .pbtn:hover{
    background-color: #f5f8fd;
    color: #007fff;
    text-decoration: none;
}
.list-btn .pbtn:active{
    background-color: #c8d8f2;
}
.list-btn ul{
    position: absolute;
    top: 34px;
    left: 0;
    background-color: #fff;
    border: 1px solid #bfcde2;
    display: none;
    padding: 5px 0;
    /*border-top: 0 none;*/
}
.list-btn ul li{
    line-height: 14px;
    text-indent: 8px;
}
.list-btn ul li.first{
    border-top: 0;
}
.list-btn ul li a{
    display: block;
    width: 100%;
    height: 22px;
    padding: 5px 0;
    line-height: 22px;
    color: #000;
}
.list-btn ul li a:hover{
    background-color: #1e83e9;
    color: #fff;
    text-decoration: none;
}
.list-btn.list-primary .pbtn,
.list-btn.list-primary  ul {
    border-color: #1e83e9;
}
.list-btn.list-primary .pbtn{
    background-color: #1e83e9;
    color: #fff;
}
.list-btn.list-primary .tog{
    background-image: url(../img/icon_unfold_white.png);
}
.list-btn.list-primary .pbtn:hover{
    background-color: #3497fb;
    border-color: #3497fb;
}
.list-btn.list-primary .pbtn:active{
    background-color: #005dbb;
    border-color: #005dbb;
}
.list-btn.sm {
    width: 120px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
}
.list-btn.sm ul{
    top: 30px;
}
.list-btn.sm .top{
    font-size: 12px;
}
.list-btn.xl {
    width: 160px;
    height: 34px;
    line-height: 34px;
    font-size: 16px;
}
.list-btn.xl ul{
    top: 40px;
}
/**
table
**/
table{
    width:100%;
}
table tr th, 
table tr td{
    text-align: left;
    vertical-align: top;
}
table tr td,
table tr th {
    padding: 7px 10px;
    font-size: 13px;
}
table th{
    background-color: #f8f8f8;
}
table tr input[type="checkbox"]{
    margin-bottom: 0
}
.table-oneline tr td{
    padding: 15px 10px;
}
.border-wrap{
    border: 1px solid #dbe9f7;
    border-width: 1px 0 0;
}
.border-wrap tr,
.border-wrap tr th,
.border-wrap tr td{
    border-bottom: 1px solid #dbe9f7;
    padding-left: 25px;
    vertical-align: middle;
}
.border-wrap th{
    height: 15px;
}
.border-wrap td{
    height: 30px;
    word-break: break-all;
}
.border-wrap tr.on td{
    background-color: #cbe7ff;
}
.th-title{
    white-space: nowrap;
}
.th-title+.th-title{
    background: #f8f8f8 url(../img/icon_divide.png) 13px center no-repeat;
}
.table-border,
.table-border tr th,
.table-border tr td{
    border: 1px solid #dbe9f7;
}

.table-comparison .light_head{
    display: block;
    position: absolute;
    top: -10px;
    left: -1px;
    left: -moz-calc(-2px);
    width: 100%;
    height: 10px;
    background-color: #e8f1fb;
    border: 1px solid #2277da;
    border-bottom: none;
}
.table-comparison .light_foot{
    display: block;
    position: absolute;
    bottom: -11px;
    left: -1px;
    left: -moz-calc(-2px);
    width: 100%;
    height: 11px;
    background-color: #fff;
    border: 1px solid #2277da;
    border-top: none;
}
.table-comparison .light_left{
    display: block;
    position: absolute;
    left: -11px;
    top: -1px;
    top: -moz-calc(-2px);
    height: 100%;
    width: 11px;
    background-color: #fff;
    border: 1px solid #2277da;
    border-right: none;
}
.table-comparison .light_right{
    display: block;
    position: absolute;
    right: -11px;
    top: -1px;
    top: -moz-calc(-2px);
    height: 100%;
    width: 11px;
    background-color: #fff;
    border: 1px solid #2277da;
    border-left: none;
}

.table-comparison tr th,
.table-comparison tr td{ 
    border-right: none;
    border-top: none;
}
.table-comparison.horizontal tr th,
.table-comparison.horizontal tr td{ 
    border-bottom: none;
    border-top: none;
}
.table-comparison .th-title.border-l-r{
    background-color: #e8f1fb;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}
.table-comparison .border-l-r{
    border-left: 1px solid #2277da !important;
    border-right: 1px solid #2277da !important;
    position: relative;
    background-clip: padding-box;
}
.table-comparison .border-t-b{
    border-top: 1px solid #2277da !important;
    border-bottom: 1px solid #2277da !important;
    position: relative;
    background-clip: padding-box;
}
table .no-record{
    text-align: center;
}
.table-middle tr td,
.table-middle tr th {
    vertical-align: middle !important;
}
.table-hover tr:hover td{
    background-color: #e8e8e8;
}
.table .icon-td img{
    vertical-align: -3px;
    margin-right: 5px;
}
/**
* panel normal
*/
.panel {
    border: 1px solid #dbe9f7;
    border-top: 2px solid #007fff;
    margin: 20px 0;
    background: #FFF;
    position: relative;
    z-index: 1;
}
.panel-hd h3 {
    font-weight: normal;
    font-size: 14px;
    border-bottom: 1px solid #dbe9f7;
    background-color: #f5f8fd;
    height: 40px;
    line-height: 40px;
    text-indent: 15px;
    position: relative;
}
.panel-hd.white h3{
    background-color: #fff;
}
.panel-hd2 h3 {
    border-bottom: 0 none;
    color: #007fff;
    padding: 10px 15px;
    background: #f5f8fd url(../img/icon_circles.png) no-repeat 12px center;
    height: auto;
    line-height: 14px;
}
.panel-hd .hd_right{
    position: absolute;
    right: 0;
    top: 5px;
    color: #5F5F5F;
    font-size: 14px;
}
.panel-hd .hd_right.btn-group{
    top: 6px;
    right: 10px;
}
.panel-bd{
    margin: 30px 20px 20px 30px;
}
/**
* panel tab
*/
.panel.panel-tab{
    border-radius: 0;
    margin-top: 30px;
    border: 1px solid #dbe9f7;
}
.panel-tab .panel-hd h3{
    background-color: #f5f8fd;
    border-bottom: 0;
    height: 50px;
    line-height: 50px;
    font-weight: 700;
    font-size: 16px;
}
.panel-tab .nav{
    background-color: #f5f8fd;
    border-bottom: 1px solid #dbe9f7;
}
.panel-tab .nav li{
    float: left;
    width: 110px;
    height: 40px;
    line-height: 40px;
}

.panel-tab .nav .on{
    color: #000;
}
.panel-tab .nav li.first{
    margin-left: 20px;
}
.panel-tab .nav li a,
.panel-tab .nav li span {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    text-align: center;
}
.panel-tab .nav li a:hover,
.panel-tab .nav .on span{
    background-color: #FFF;
    border: 1px solid #dbe9f7;
    border-bottom: 0 none;
    text-decoration: none;
}
/**
* panel table
*/
.panel-no-border,
.panel-table{
    border: 0;
}
.panel-table .ltitle,
.panel-table h3{
    font-size: 14px;
    padding: 0 0 0 15px;
    background:  url(../img/icon_rectangle.png) 0 center no-repeat;
    margin: 5px 0 10px;
    border-bottom: 0;
    height: auto;
    line-height: 20px;
    text-indent: 0;
}
.panel-table .panel-bd{
    margin: 0;
}

.panel-table .panel-Top{
    margin: 0 0 25px;
}
.panel-table.first {
    margin-top: 0;
}

/**
.panel-form
  */
.panel-form-title {
    float: left;
    width: 160px;
    margin-right: 20px;
    color: #5f5f5f;
}
.panel-form+.form,
.panel-form+.panel-form{
    margin-top: 25px;
    padding-top: 25px;
    border-top: 1px dashed #dbe9f7;
}
.panel-form-title img{
    vertical-align: -2px;
    margin-right: 8px
}
.panel-form-list .panel-form{
    border:0 none;
    min-height: 14px;
}
.panel-form-list .panel-form+.panel-form{
    margin: 20px 0;
    padding-top: 0;
}
/*
* modal
*/
.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .5);
    border: 1px solid #dbe9f7;
    z-index: 11111;
    display: none;
    overflow-y: auto;
}
.modal .box_inner{
    background-color: #fff;
    position: relative;
    z-index: 999999;
    width: 528px;
    margin: 0 auto 120px;;
    transform: translateY(120px);
    border: 1px solid #007fff;
}
.modal.sm .box_inner{
    width: 360px;
}
.modal.xl .box_inner{
    width: 860px;
}

.modal .hd{
    position: relative;
    height: 36px;
    background-color: #007fff;
}
.modal .hd h4{
    font-weight: 400;
    font-size: 14px; 
    line-height: 36px;
    text-indent: 20px;
    color: #FFF;
}
.modal .hd .close{
    position: absolute;
    right: 20px;
    top: 11px;
    background: url(../img/icon_close.png) no-repeat;
    display: block;
    width: 12px;
    height: 12px;
}
.modal .bd{
    padding: 20px 20px 30px;
    position: relative;
}
.modal .ft{
    background: #f5f9fd;
    border-top: 1px solid #dfe4ec;
    padding: 0 20px;
    text-align: right;
    font-size: 0
}
.modal .ft .ydbtn{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}
.modal .form-horizontal .btn-group{
    text-align: center;
    padding: 0;
}

.modal-form .box_inner{
    width: 400px;
}
.modal-form .form-group{
    position: relative;
}
.modal-form .dashed-line{
    margin: 20px 0;
}
.modal-form .tis{
    position: absolute;
    right: 0;
    top: 0;
    color: #FF4D5A;
}
.modal-form .note2{
    margin-top: 10px;
}
.modal-form .form-group:last-child{
    margin-bottom: 0;
}

.modal-alert .box_inner{
    width: 400px;
}
.modal-alert .bd{
    display: table-cell;
    height: 70px;
    padding: 20px 20px 20px 80px;
    vertical-align: middle
}
.modal-bd-title{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
    white-space: pre-wrap;
    word-break: break-all;
}
.modal-bd-content{
    font-size: 14px;
    color: #5f5f5f;
    line-height: 18px;
    white-space: pre-wrap;
    word-break: break-all;
}
.modal-alert.single .modal-bd-title{
    font-size: 14px;
    margin-bottom: 0;
}
.modal-alert.single .modal-bd-content{
    display: none;
}
.modal-alert.warning .bd{
    background: url(../img/ic_popup_tips.png) no-repeat 30px 36px;
}
.modal-alert.success .bd{
    background: url(../img/ic_popup_success.png) no-repeat 30px 36px;
}
.modal-alert.error .bd{
    background: url(../img/ic_popup_error.png) no-repeat 30px 36px;
}
/**
* alertBox
*/
.alertBox {
    position: fixed;
    left: 50%;
    top: 35%;
    width: 320px;
    margin-left: -150px;
    background-color: white;
    border: 1px solid #eee;
    z-index: 11112;
    font-size: 14px;
    display: none;
    border-radius: 5px;
}
.alertBox::before{
    content: '';
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .5);
}
.alertBox .box_inner{
    border-radius: 5px;
    background-color: #fff;
    position: relative;
    z-index:999999;
    text-align: center;
}
.alertBox .hd { 
    font-size: 16px;
    color: #000;
    padding: 44px 30px 0;
    margin-bottom: 5px;
    line-height: 20px;
    word-break: break-all;
}
.alertBox .tis{ 
    padding: 0 20px 24px;
    color: #999;
    line-height: 18px;
    word-break: break-all;
}
.alertBox .btn_group{
    padding-bottom: 20px;
}
.alertBox .close{
    display: block;
    background: transparent url(../img/icon_delete.jpg) 0 0 no-repeat;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 12px;
    top: 12px;
}
/**
alert
*/
.alert{
    margin:20px 0;
    color:#000;
    border-radius: 2px;
    background-color: #fff;
    border:1px solid #efefef;
    padding: 10px 20px 10px 45px;
    font-size: 14px;
    line-height: 18px;
}
.alert.no-icon{
    padding-left: 15px;
    background-image: none;
}
.alert-error{
    color: #ff3636;
    border-color: #ff3636;
    background: #ffe2e1 url(../img/icon_error.png) no-repeat 20px 10px;
}
.alert-success{
    background: #d8fce8 url(../img/icon_correct.png) no-repeat 20px 10px;
    border-color: #00b450;
}
.alert .note{
    margin-top: 5px;
    font-size: 14px;
}
.alertAuto {
    position: fixed;
    z-index: 99999;
    right: 20px;
    left: 20px;
    top: 84px;
    text-align: center;
    pointer-events: none
}
.alertAuto .alert{
    display: inline-block;
    width: auto;
    margin: 20px auto;
    font-size: 14px;
    max-width: 575px;
    text-align: left
}
.alertAuto .alert-success,
.alertAuto .alert-error{
    background-position: 20px 12px;
}

/* 
    has state font
 */
.font-state::before{
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: -3px;
}
.font-state.success::before{
    background: url(../img/icon_correct.png) no-repeat 0 0;
}
.font-state.error{
    color: #ff4d5a;
}
.font-state.error::before{
    background: url(../img/icon_error.png) no-repeat 0 0;
}

/**
    remarkup
*/
.remarkup{
    margin: 25px 0 10px 0;
    padding: 12px;
    border-left: 3px solid #007fff;
    background: #edf7ff;
    line-height: 20px;
}
/**
    breakcrump
*/
.breakcrump{
    position: relative;
    margin-bottom: 25px;
}
.breakcrump ul{
    padding: 20px 20px 20px 13px;
    border-bottom: 1px solid #dbe9f7;
    background: url(../img/icon_circles.png) no-repeat 0 24px;
}
.breakcrump li{
    float: left;
    margin: 0 3px;
    color: #007fff;
}
.breakcrump-right{
    position: absolute;
    right: 0;
    bottom: 12px;
}

/**
* form
*/
.form {

}
.form input[type='text'],
.form input[type='password'],
.form textarea{
    box-sizing: border-box;
    border: 1px solid #adbdcc;
    border-radius: 2px;
    background-color: #FFF;
    width: 520px;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    color: #000;
}
.form input[type='text']:focus,
.form input[type='password']:focus,
.form textarea:focus{
    border-color: #1e83e9;
}
input::-webkit-input-placeholder{
    color:#a0a0a0;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#a0a0a0;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#a0a0a0;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#a0a0a0;
}

.form .input-inline[type='text']{
    height: 20px;
    width: 50px;
    line-height: 20px;
    background-color: #FFF;
}
.form select{
    padding: 0 5px;
    width: 520px;
    height: 34px;
    border-radius: 2px;
    border: 1px solid #dfdfdf;
}
.form .inline-select{
    width: auto;
    height: 32px;
    *height: 26px;
    *vertical-align: middle;
}
.form .form-group.first{
    margin-top: 0;
}
.form .form-group.md-inline-select-group{
    margin-top: 0;
    background-color: #f5f8fd;
    border: 1px solid #dbe9f7;
    padding: 10px 15px;
    padding-bottom: 10px !important;
    border-radius: 3px;
}
.form .form-group.md-inline-select-group.on{
    border-color: #ff4d5a;
    background-color: #fee7e6;
}
.form .md-inline-select-group select{
    height: 22px;
    line-height: 22px;
    margin-left: 10px;
}
.form textarea{
    height: 110px;
    line-height: 20px;
    padding: 5px; 
    resize: none;
}
.form textarea.min{
    height: 60px;
}
.form input[disabled],
.form input[readonly],
.form textarea[readonly]{
    background-color: #e8e8e8;
    border-color: #cad8e6;
}
.form .btn-group{
    margin-top: 20px;
}
.form .rd-group label{
    position: relative;
    display: block;
    float: left;
    padding: 9px 26px;
    background-color: #fff;
    border: 1px solid #007fff;
    border-right: 0;
    overflow: hidden;
    cursor: pointer;
}
.form .rd-group{
    border-radius: 0 2px 2px 0;
}
.form .rd-group label.first{
    border-radius: 2px 0 0 2px
}
.form .rd-group label.last{
    border-right: 1px solid #007fff;
    border-radius: 0 2px 2px 0
}
.form .rd-group label.on{
    background-color: #007fff;
    color: #fff;
}
.form .rd-group label input{
    position: absolute;
    left: -100px;
}

.check-group-list .check-group{
    float: left;
    width: 100px;
}
.check-group{
    margin-bottom: 10px;
}
.check-group li{
    float: left;
    margin: 0 10px;
}
.check-group .chk{
    cursor: pointer;
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    background: url(../img/checkbox.png) no-repeat 0 0;
}
.check-group .chk input{
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}
.check-group label{
    cursor: pointer;
    padding-left: 6px;
}
.check-group .chk.on{
    background-position: -16px 0px;
}
.check-group .chk.off{
    background-position: 0 -28px;
}
.check-group .chk.disabled{
    background-position: 0 -48px
}
.check-group .chk.on.disabled{
    background-position: -16px -48px
}
.check-group .chk.part{
    background-position: 0 -42px;
}

.check-group.disabled,
.check-group.disabled label {
    color: #999;
    cursor: default;
}

.form .input.success input[type='text'],
.form .input.success input[type='password'],
.form .input.success textarea{
    border-color: #38baa3
}
.form .input.error input[type='text'],
.form .input.error input[type='password'],
.form .input.error textarea{
    border-color: #ff4d5a
}
.form .input.error .tis{
    color: #ff4d5a
}

.form .form-group{
    clear: both;
    margin: 25px 0;
    overflow: hidden;
    padding-bottom: 0 !important; 
}


.form .input_ext{
    position: relative;
    overflow: hidden;
}
.form .input_ext input{
    /* width: 290px; */
    float: left;
}
.form .input_ext button{
    float: left;
    margin-left: 10px;
}
.form .input_ext .note{
    padding-top: 10px;
    line-height: 16px;
    clear: both;
}

.form .loading-img {
    position: absolute;
    left: 372px;
    top: 3px;
    display: none;
}

.input_loading .loading-img{
    display: block;
}

.form-horizontal .title{
    float:left;
    width: 70px;
    height: 30px;
    line-height: 28px;
    text-align: right;
    margin-right: 10px;
}
.form-horizontal .input{
    float: left;
}
.form-horizontal .only_right .input{
    padding-left: 80px;
}
.form-horizontal .input .note_block{
    clear: both;
    padding-top: 5px;
    line-height: 16px;
}
.form-horizontal .check-group-list{
    margin-top: 10px;
}
.form-horizontal .btn-group{
    padding-left: 80px;
}
.form-horizontal2 .btn-group{
    padding-left: 125px;
}
.form-horizontal2 .title{
    width: 115px;
}
.form-horizontal2 .only_right .input{
    padding-left: 120px;
}
.form .only_checkbox .title{
    height: 1px;
}


.form-vertical input[type='text'],
.form-vertical input[type='password'],
.form-vertical textarea{
    width: 100%;
}
.modal.sm .form-vertical select{
    width: 315px;
}
.form-vertical .title,.batchImportList .title{
    margin-bottom: 10px;
}
.form-vertical .btn-group{
    text-align: center;
}

.form .fieldset-box {
    width: 350px;
    border: 1px solid #dbe9f7;
    border-radius: 3px;
    padding: 15px;
}
.form .fieldset-box .form-group{
    margin: 10px 0;
}
.form .fieldset-box .form-group.first{
    margin-top: 0;
}
.form .fieldset-box .form-group.last{
    margin-bottom: 0;
}
.form .fieldset-box .title,
.form .fieldset-box .input{
    font-size: 12px;
    height: 24px;
    line-height: 24px;
}
.form .fieldset-box .input.rd-group{
    height: 40px;
    line-height: 16px;
}
.form .form-group .select-group select{
    width: 100px;
}
.input-help-img{
    margin-left:10px;
    margin-top:10px;
    cursor: pointer;
}


.form-group.search-group {
    margin: 10px;
    padding: 0;
    position: relative;
}
.search-group input[type='text']{
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0 35px 0 5px;
    float: left;
    background-color: #fff;
    border-radius: 2px 0 0 2px;
}
.icon-search {
    position: absolute;
    right: 1px;
    top: 1px;
    display: block;
    width: 28px;
    height: 28px;
    cursor: pointer;
    background: #fff url(../img/icon_search.png) 50% 50% no-repeat;
    border: 0;
}
.icon-search-close {
    cursor: pointer;
    display: block;
    width: 14px;
    height: 14px;
    background: url(../img/icon_delete_normal.png) 50% 50% no-repeat;
    position: absolute;
    right: 30px;
    top: 7px;
}
.icon-search-close:hover{
    background-image: url(../img/icon_delete_hover.png);
}
.search-group:hover input[type='text'], 
.search-group:hover .icon_search,
.search-group:hover .icon_close{
    border-color: #007fff
}
.search-group:hover .icon_search,
.search-group:hover .icon_close{
    background-color: #d8ebfe;
}

.modal .icon_search{
    height: 32px;
}

.input_rich .con{
    width: 335px;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    background-color: #f5f8fd;
    float: left;
    cursor: text;
    max-height: 106px;
    padding-bottom: 5px;
    overflow: auto;
}
.input_rich.disabled input{
    visibility: hidden
}

.input_rich .con input{
    background-color: transparent;
    border: 0 none;
    min-width: 30px;
    width: auto !important;
    height: 29px;
    float: left;
}
.input_rich .account-label{
    float: left;
    padding: 2px 5px;
    line-height: 20px;
    margin: 4px 0 0 8px;
    white-space: nowrap;
}
.input_rich.disabled .con{
    background-color: #dedede;
}
.input_rich .ydbtn{
    margin-right: 5px;
}

.btn-group .ydbtn+.ydbtn,
.btn-group .ydbtn+.link{
    margin-left: 10px;
}
.table-btn-group .ydbtn+.ydbtn{
    margin-left: 3px;
}
.table-btn-group .right,
.btn-group .right{
    float: right;
    margin-left: 7px !important;
}

.check_tog{
    float: left;
    line-height: 20px;
    color: #929db1;
    font-size: 12px;
}
.check_tog .tog{
    display: inline-block;
    width: 46px;
    height: 22px;
    overflow: hidden;
    background: transparent url(../img/switch_close.png) 0 0 no-repeat;
    margin-right: 5px;
    vertical-align: bottom;
}
.check_tog .tog.on{
    background-image: url(../img/switch_open.png);
}

.add-area,
.upload_area{
    width: 400px;
    height: 120px;
    position: relative;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    overflow: hidden;
}
.upload_area input{
    display: block;
    position: absolute;
    left:0;
    top: 0;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    filter: alpha(opacity=0);
}
.upload_area .tis{
    text-align: center;
    position: absolute;
    left:0;
    top: 0;
    right:0;
    bottom:0;
    cursor: pointer;
    background: url(../img/icon_add.png) no-repeat center center;
}
.upload_area .has_explain{
    background-position: center 40%;
}
.upload_area .prev_img td{
    padding: 10px;
    background-color: transparent;
    vertical-align: middle;
    line-height: 20px;
}
.upload_area .prev_img img{
    height: 100px;
    vertical-align: middle;
    margin-right: 10px;
}

.upload_area .prev_img span{
    display: inline-block;
    max-width: 120px;
    overflow: hidden;   
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
}
.upload_area .prev_file a{
    padding-left:  15px;
    display: inline-block;
    float: left;
}
.upload_area.mq_img_view,
.upload_area.link_img_view{
    display: none;
}
.upload_area.link_img_view{
    margin-top: 20px;
}
.upload_area .explain{
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 12px;
}
.upload_area.ydbtn{
    width: 60px;
    height: 34px;
}
.upload_area.ydbtn .tis{
    background: none;
    color: #007fff;
    line-height: 32px;
}

.upload_area.ydbtn-primary{
    height: 24px;
    border: 1px solid #488dd2;
}
.upload_area.ydbtn-primary .tis{
    color: inherit;
    line-height: 24px;
    font-size: 12px;
}


.form-timerange .form-group{
    margin: 0;
}
.form-timerange input[type="text"]{
    width: 100px;
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    margin-left: 5px;
}
.form-timerange .hline{
    float: left;
    line-height: 27px;
    margin-left: 5px;
    color: #999;
}
.form-timerange .ydbtn{
    float: left;
    margin-left: 5px;
}

.panel-hd-form .form{
    float: left;
}
.panel-hd-form .form.right{
    float: right;
}
.panel-hd-form .form select{
    height: 30px;
    line-height: 30px;
}

/***************************************************************
* pagenation
****************************************************************/
.pagenation {
    height: 32px;
    margin: 20px 0;
}
.pagenation ul li {
    float: left;
    background-color: #fff;
    text-align: center;
}
.pagenation ul li:not(.on):hover a {
    background: #eee;
}
.pagenation ul li a {
    display: block;
    border: 1px solid #dbe9f7;
    border-right-width: 0;
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    color: #000;
    zoom: 1;
}
.pagenation ul li.last a{
    border-right-width: 1px;
}
.pagenation .ell{
    display: block;
    border: 1px solid #dbe9f7;
    border-right-width: 0;
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #f8f8f8;
    color: #999;
}
.pagenation li.on{
    border-color: #007fff;
}
.pagenation li.on a{
    background-color: #007fff;
    color: #fff;
}

/****
youdu-toggle
*****/
.youdu-toggle span{
    color: #999;
    font-size: 12px;
}
.youdu-toggle a{
    display: inline-block;
    width: 46px;
    height: 22px;
    overflow: hidden;
    background: transparent url(../img/switch_close.png) 0 0 no-repeat;
    margin-right: 5px;
    vertical-align: middle;
}
.youdu-toggle a.on{
    background-image: url(../img/switch_open.png);
}
.youdu-toggle.tis_right span{
    float: left;
    line-height: 22px;
    margin-right: 5px;
}
.youdu-toggle.tis_right a{
    margin-right: 0;
}

.panel-hd .panel_right_toggle{
    position: absolute;
    top: 9px;
    right: 15px;
}

.panel-tab .panel_right_toggle{
    top: 15px;
    right: 20px;
}

/****
multi-view
*****/
.multi-view{
    position: relative;
}
.multi-view .multi-view-lt{
    width: 260px;
    overflow: hidden;
    background-color: #f5f8fd;
}
.multi-view-lt .empty{
    color: #999;
    text-align: center;
    padding-top: 100%;
}
.role-aside-title,
.multi-view .multi-view-lt .hd{
    padding: 0 0 0 15px;
    background: url(../img/icon_rectangle.png) 0 center no-repeat;
    margin: 15px 0 12px 10px;
    border-bottom: 0;
    height: auto;
    line-height: 20px;
    font-size: 16px;
}
.multi-view .multi-view-lt .data_list{
    position: absolute;
    left: 0;
    top: 100px;
    bottom: 0;
    width: 260px;
    overflow: auto;
    clear: both;
}
.noBtn .data_list{
    top: 50px !important;
}
.noBtn .org_list{
    margin-top: 0 !important;
}
.org_list .menu,
.data_list .menu{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.data-empty{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 200px;
    margin: -160px 0 0 -200px;
    text-align: center;
}
.data-empty p{
    margin: 20px 0;
    line-height: 20px;
}

.tree-menu{
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    background: url(../img/icon_more.png) center center no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 0;
    z-index: 99;
}
.tree-menu-ext{
    position: absolute;
    left: -9999em;
    top: -9999em;
    width: 90px;
    border-radius: 2px;
    background-color: #fff;
    padding: 8px 0;
    z-index: 100;
    box-shadow: 0 0 3px 0 #c8c8c8, 0 0 8px 0 rgba(0,0,0, .12)
}
.tree-menu-ext a{
    display: block;
    width: 100%;
    height: 26px;
    line-height: 26px;
    text-indent: 10px;
    font-size: 12px;
    padding: 0; 
    background: none;
    color: #007fff;
}
/* .tree-menu-ext a:before{
    display: none;
} */
.tree-menu-ext a:hover{
    background-color: #cbe7ff;
    color: #005bb8;
    text-decoration: none;
}

.multi-view .multi-view-rg{
    /* position: absolute;
    left: 261px;
    right: 0;
    bottom: 0;
    top: 0; */
    /* overflow: auto; */
}
/* .multi-view .multi-view-rg .panel{
    margin: 0;
    margin: 15px 0 10px;
} */

.multi-view-rg .view_title{
    font-size: 16px;
}

.multi-view .search_list{
    position: absolute;
    left: 0;
    right: 0;
    top: 55px;
    bottom: 0;
    overflow: auto;
    background-color: #f8f8f8;
    z-index: 1;
    display: none;
}
.multi-view .search_list li a{
    display: block;
    padding: 5px 10px;
    line-height: 20px;
    color: #000;
}
.multi-view .search_list li a:hover{
    background-color: #d8ebfe;
}


/***
tooltip
****/
.tooltip{
    position: absolute;
    left: -99999px;
    top: -99999px;
    padding: 15px;
    border-radius: 4px;
    color: #fff;
    border: 1px solid #e7e3d5;
    background-color: #33456a;
    background-color: rgba(51, 69, 103, .9);
    font-size: 12px;
    line-height: 16px;
    pointer-events: none;
    z-index: 10;
}
.tooltip .tooltip-title{
    font-weight: 800;
    margin-bottom: 8px;
}
.tooltip .tooltip-arrow{
    position: absolute;
    border: 8px solid transparent;
}
.tooltip.left_bottom .tooltip-arrow{
    top: -16px;
    left: 15px;
    border-bottom-color: #33456a;
    border-bottom-color: rgba(51, 69, 103, .9);
}
.tooltip.left_top .tooltip-arrow{
    bottom: -16px;
    left: 15px;
    border-top-color: #33456a;
    border-top-color: rgba(51, 69, 103, .9);
}
.tooltip.right_top .tooltip-arrow{
    bottom: -16px;
    right: 15px;
    border-top-color: #33456a;
    border-top-color: rgba(51, 69, 103, .9);
}
.tooltip.right_bottom .tooltip-arrow{
    top: -16px;
    right: 15px;
    border-bottom-color: #33456a;
    border-bottom-color: rgba(51, 69, 103, .9);
}

.widget{
    width: 335px;
    padding: 20px;
    border: 1px solid #dbe9f7;
    margin-bottom: 10px;
}
.widget-group .widget{
    float: left;
}
.widget-group .widget+.widget{
    margin-left: 15px;
}
.widget-min{
    padding: 8px 5px 8px 5px;
}

.od-title{
    padding-left: 22px;
    margin: 20px 0;
    font-size: 16px;
    background: url(../img/ic_point.png) no-repeat 0 50%;
}

/**
    youdu radio 
 */

.yd-radios{
    
}
.yd-radio{
    position: relative;
    overflow: hidden;
    padding-left: 24px;
    line-height: 16px;
    cursor: pointer;
}
.yd-radio+.yd-radio{
    margin-top: 10px;
}
.yd-radio input[type="radio"]{
    position: absolute;
    left: 2px;
    top: 3px;
    width: 3px;
    height: 3px;
    clip: rect(0, 0, 0, 0);
    opacity: 0;
    filter: alpha(opacity=0);
}
.yd-radio b{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../img/100a_009.png) no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}
.yd-radio input:checked + b{
    background-position: -16px 0;
}
.yd-radio label{
    cursor: pointer;
}

/*  */

.aside-list{

}
.aside-item{
    position: relative;
}
.aside-item.on button{
    display: block;
}
.aside-item .item_logo{
    float: left;
    margin-top: 8px;
    margin-right: 10px;
    border-radius: 2px;
}
.aside-item a{
    overflow: auto;
    display: block;
    padding: 0 10px;
    line-height: 36px;
    font-size: 13px;
    color: #000;
    text-decoration: none
}

.aside-item h4{
    width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.aside-item .tree-menu{
    top: 3px;
}
.aside-list .del{
    display: none;
    width: 8px;
    height: 8px;
    position: absolute;
    right: 18px;
    top: 50%;
    margin-top: -4px;
    cursor: pointer;
}
.aside-item:hover{
    background-color: #e8e8e8;
}
.aside-item.on{
    background-color: #cbe7ff;
}
.aside-item:hover .tree-menu,
.aside-item.on .tree-menu{
    display: block;
}
.aside-item a:hover .del,
.aside-item.on .del{
    display: block;
    background-image: url(../img/icon_delete2_hover.png);
}

.yd-select{
    position: relative;
    display: inline-block;
    user-select: none;
}
.yd-select-tog{
    position: relative;
    padding-left: 15px;
    padding-right: 24px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #bfcde2;
    border-radius: 2px;
    min-width: inherit;
    cursor: pointer;
}
.yd-select-res{
}
.yd-select-tri{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    width: 24px;
    background: #fff url(../img/icon_unfold_black.png) no-repeat 50% 50%;
}
.yd-select-options{
    position: absolute;
    top: 36px;
    left: 0;
    min-width: 100%;
    border: 1px solid #bfcde2;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 999;
}
.yd-select-options ul{
    padding: 4px 0;
}
.yd-select-item{
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    cursor: pointer;
    white-space: nowrap;
}
.yd-select-tog:hover,
.yd-select-tog:hover .yd-select-tri{
    background-color: #f5f9fd;
}
.yd-select-tog:active,
.yd-select-tog:active .yd-select-tri{
    background-color: #d4e0ec;
}
.yd-select-item:hover{
    background-color: #d7ecfe;
}
.yd-select-item.selected{
    color: #fff;
    background-color: #1e86e9;
}
.yd-select-item.disabled{
    color: #999 !important;
    cursor: not-allowed;
    background: transparent !important;
}

.yd-select-options.ic .yd-select-item{
    padding-left: 30px;
}
.yd-select-options.ic .yd-select-item:hover{
    color: #fff;
    background-color: #1e86e9;
}
.yd-select-options.ic .yd-select-item.selected{
    background: #fff url(../img/icon_box_tick.png) no-repeat 8px 50%;
    color: inherit;
}


.yd-select.sm{
    font-size: 12px;
}
.yd-select.sm .yd-select-tog{
    padding-left: 12px;   
    height: 26px;
    line-height: 26px;
}
.yd-select.sm .yd-select-options{
    top: 32px;
}
.yd-select.sm .yd-select-item{
    padding: 0 12px;
    height: 26px;
    line-height: 26px;
}
.yd-select.sm .yd-select-options.ic .yd-select-item{
    padding-left: 30px;
}


.label-color{
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 4px;
}
.label-color.yellow{
    background-color: #fff687;
}
.label-color.blue{
    background-color: #cce8ff;
} 
.label-color.note{
    height: 14px;
    line-height: 14px;
    font-size: 12px;
}
.note-light-gray{
    color: #a0a0a0;
}

/* datepicker */
.datepicker table tr td.old, 
.datepicker table tr td.new{
    color: #5F5F5F !important;
}

.datepicker-days table tr td:hover:not(.disabled),/* 日期 */
.datepicker-months table tr td span:hover:not(.disabled),/* 月份 */
.datepicker-years table tr td span:hover:not(.disabled)/* 年份 */{
    background-color: #007fff !important;
    color: #FFF !important; 
}

.datepicker table tr td.active, 
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled, 
.datepicker table tr td.active.disabled:hover{
    background-color: #007fff !important;
    background-image: none !important;
    background-image: none !important;
    background-image: none !important;
    background-image: none !important;
    background-image: none !important;
    background-image: none !important;
}


/* 时间（时分）选择 .selecttime-box */
.select-time-box{
    position: relative;
    display: inline-block;
    border: 1px solid #bfcde2;
    height: 26px;
    line-height: 26px;
    padding: 0 12px;
    border-radius: 2px;
    vertical-align: bottom;
}
.select-time-box .click{
    cursor: pointer;
    padding: 4px;
}
.select-time-box .ul-time-box{
    display: none;
    position: absolute;
    top: 32px;
    left: 0;
    width: 180px;
    height: 240px;
    background-color: #FFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    overflow-y: auto;
    z-index: 99;
    padding: 4px 0;
}
.select-time-box .ul-time-box.min{
    left: inherit;
    right: 0;
}
.select-time-box .ul-time-box li{
    cursor: pointer;
    padding: 0 12px;
}
.select-time-box .ul-time-box li:hover{
    background-color: #1e83e9;
    color: #FFF;
}

.icon-guide {
    display: inline-block;
    height: 14px;
    width: 14px;
    background: url(../img/icon_guide.png) no-repeat;
    margin-left: 5px;
    vertical-align: -2px;
}
.icon-guide:hover{
    cursor: help;
}